body {
    background-color:yellowgreen;
}
.form {
    background-color: #eee;
    width: 580px; /* Breite des Formulars */
    padding: 20px;
    border: 1px solid #8c8c8c;
    position: absolute;
    margin-bottom: 25px;
  } 
  .control {
    display: flex;
  } 
  label {
    width: 100px;
    cursor: pointer;
  }
  input,
  textarea {
    width: 550px;
    border: 1px solid #8c8c8c;
    margin-bottom: 1em;
  }
  span.title {
    font-size: x-large;
  }
  
  .clear-fix {
    clear: both;
  }
  button {
    float: right;
    padding-right: 20px;
  }
  img {
    max-width: 90%;
    max-height: 100px;
  }
  textarea {
    height: 7em;
  }